{% extends 'layout.html' %}

{% block content %}
    <table class="table table-hover">
        <caption>
            <a class="btn btn-primary btn-sm" href="{% url 'type-create' %}">Create</a>
        </caption>
        <thead>
            <tr>
                <th>Movies</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for type in types %}
            <tr>
                <td>{{ type }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'type-detail' device.pk %}">Detail</a>
                    <a class="btn btn-warning btn-sm" href="{% url 'type-update' device.pk %}">Update</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'type-delete' device.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}