{% extends 'layout.html' %}
{% load bootstrap4 %}{% load static %}

{% block content %}
    <div class="container col-md-8 pt-4 mx-auto">
        <form action="" method="post" class="form form-group" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" value="Save" class="btn btn-sm btn-outline-primary">Submit</button>
            {% endbuttons %}
            {% bootstrap_css %}
        </form>
    </div>
{% endblock %}