{% extends 'layout.html' %}
{% block title %}
    Device Listing
{% endblock %}
{% block content %}
    <div>
        <p class="lead py-3">{{ devices.count }} devices in System Inventory<br>
            {% if user.is_authenticated %}
                <a class="btn btn-outline-primary btn-sm" href="{% url 'device-create' %}">Create</a>
            {% endif %}
        </p>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Last 5 added</th>
                </tr>
                </thead>
                {% for device in devices|slice:":5" %}
                    <tr>
                        <td><strong>{{ device.name|upper }}</strong><br>
                            <small class="small">Added by {{ device.created_by.first_name }}</small>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-9 col-md-8 col-lg-9">
            <div class="row">
                {% for device in devices %}
                    <div class="col-4 col-xs-3 col-md-4 col-lg-3 col-xl-3">
                        <div class="card bg-dark text-light">
                            <img class="card-img-top img-thumbnail" src="{{ MEDIA_URL }}{{ device.photo }}"
                                 alt="{{ device.description }}">
                            <div class="card-body">
                                <h6 class="card-title">{{ device.name }}</h6>
                                <p class="card-text small">{{ device.maker }}</p>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'device-detail' device.pk %}" class="btn btn-primary">Details</a>
                                {% endif %}
                            </div>
                        </div>
                        <br/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}