{% extends 'layout.html' %}
{% block title %}
Device Listing | Serial Flakes
{% endblock %}
{% block content %}
    <table class="table table-hover">
        <caption>
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'device-create' %}">Create</a>
            {% endif %}
        </caption>
        <thead>
            <tr>
                <th>{{ devices.count }} devices in Inventory</th>
            </tr>
        </thead>
    </table>
    <div class="row">
        {% for device in devices %}
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <img class="card-img-top img-fluid" src="../../{{ device.photo }}" alt="{{ device.description }}">
                <div class="card-body">
                  <h4 class="card-title">{{ device.name }}</h4>
                  <p class="card-text">by {{ device.maker }}</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'device-detail' device.pk %}" class="btn btn-primary">Details</a>
                    {% endif %}
                </div>
            </div>
        <br />
        </div>
        {% endfor %}
    </div>

        {% comment %}

        List style version

        {% for device in devices %}
            <tr>
                <td>{{ device.name }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'device-detail' device.pk %}">Detail</a>
                    {% if user.is_authenticated %}
                        <a class="btn btn-warning btn-sm" href="{% url 'device-update' device.pk %}">Update</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'device-delete' device.pk %}">Delete</a>
                    {% else %}
                        <td>Only users can modify items.</td>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}{% endcomment %}
{% endblock %}