{% extends 'layout.html' %}
{% block title %}
    Device Listing
{% endblock %}
{% block content %}
    <div>
        <h3 class="py-3">{{ devices.count }} devices in System Inventory<br>
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-outline-primary mt-3" href="{% url 'device-create' %}">Create</a>
            {% endif %}
        </h3>
    </div>
    <div class="row">
        <div class="col col-sm-3">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Last 5 added</th>
                </tr>
                </thead>
                {% for device in devices|slice:":5" %}
                    <tr>
                        <td>
                            {% if user.is_authenticated %}
                                <a href="{% url 'device-detail' device.pk %}"><strong>{{ device.name|upper }}</strong></a><br>
                                {% else %}
                                <strong>{{ device.name|upper }}</strong><br>
                            {% endif %}
                            <small class="small">Added by {{ device.created_by.first_name }}</small>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <!-- Cards -->
                {% for device in devices %}
                    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-4 card-group">
                        <div class="card bg-dark text-light p-2 my-1 mx-auto">
                            <img class="card-img-top img-thumbnail" src="{{ MEDIA_URL }}{{ device.photo }}"
                                 alt="{{ device.description }}">
                            <div class="card-body">
                                <h3>{{ device.name }}</h3>
                                <small>by {{ device.maker }}</small>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group">
                                    <button type="button" id="example" class="btn btn-sm btn-secondary"
                                            data-toggle="popover" title="{{ device.name }}"
                                            data-content="{{ device.description }}<p>SKU: {{ device.SKU }}</p>"
                                            data-html="true">
                                        Quick Info
                                    </button>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'device-detail' device.pk %}"
                                           class="btn btn-sm btn-primary">Details</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <br>
            </div>
        </div>
    </div>
    <br>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        })
    </script>
{% endblock %}