{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-2">Serial Flakes</h1>
        <h2 class="text-muted">A Code Louisville project.</h2>
    </div>
    {% if user.is_authenticated %}
        <h1 class="display-4">Welcome, {{ user }}!</h1>
        <p class="lead">This is a project designed to keep things in check. Feel free to browse around.</p>
    {% else %}
        <h1 class="display-4">Hi there!</h1>
        <p class="lead">Welcome to the Serial Flakes project.
            If you haven't already, please register and then login.<br>
            Or, if you have a login already, please login!</p>
    {% endif %}
    {% if user.is_staff %}
        <p class="lead">Okay, what the hell happened?</p>
    {% endif %}
{% endblock %}